<?xml version="1.0" encoding="utf-8"?>

<!-- default value -->
<!DOCTYPE packages [
  <!ELEMENT packages ANY>
  <!ELEMENT package ANY>
  <!ATTLIST package version CDATA "4.5.0">
  <!ATTLIST package id CDATA #REQUIRED>
  <!ATTLIST package targetFramework CDATA #IMPLIED>
]>

<packages>
  <package id="ServiceStack" targetFramework="net452" />
  <package id="ServiceStack.Client" targetFramework="net452" />
  <package id="ServiceStack.Common" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" targetFramework="net452" />
  <package id="ServiceStack.Text" targetFramework="net452" />
</packages>